.carrinho {
    text-transform: uppercase;
    border: 2px solid var(--white);
    border-left: 0px;
    border-right: 0px;
    padding-bottom: 8rem;
}

.carrinho h2 {
    color: var(--white);
    font-size: 4rem;
    font-weight: 700;
    margin: 8rem 0;
    text-align: center;
}

.carrinho .produto span {
    color: var(--black);
    font-size: 1.6rem;
    font-weight: 700;
}

.carrinho .produto span.produto-info {
    font-size: .8rem;
}