header {
    display: flex;
    flex-direction: column;
}

.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem;
    width: 95%;
    margin: 0 auto;
}

.main-header img {
    transition: var(--default-transition);
}

.main-header img:hover {
    scale: 1.1;
}

.main-header .user-items button {
    background-color: #bdbcbc00;
}

.main-header .user-items .modal .modal-content {
    background-color: var(--black);
}

.main-header .user-items .modal .modal-content h2.modal-title {
    color: var(--white);
    font-size: 3.2rem;
    font-weight: 700;
}

.main-header .user-items .modal .modal-content .modal-body {
    display: flex;
    flex-direction: column;
}

.main-header .user-items .modal .modal-content .modal-body label {
    font-size: 2.4rem;
    color: var(--white);
    font-weight: 700;
    padding: 1.6rem 0 .8rem;
}

.main-header .user-items .modal .modal-content .modal-body input {
    font-size: 1.6rem;
    color: var(--black);
    border-radius: 16px;
    outline: none;
    padding: .8rem;
    border: 0px;
}

.main-header .user-items .modal .modal-content .modal-footer button {
    background-color: var(--white);
    color: var(--black);
    font-size: 1.6rem;
    width: fit-content;
    text-transform: uppercase;
    font-weight: 700;
}

.main-header .user-items img, .main-header .user-items button {
    margin-left: .8rem;
    width: 45px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: .8rem 7rem;
}

nav ul li a {
    color: var(--white);
    text-transform: uppercase;
    font-size: 2.4rem;
    border-bottom: 1px solid var(--black);
    transition: var(--default-transition);
}

nav ul li a:hover {
    border-bottom: 1px solid var(--white);
    color: var(--white);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 6rem;
    margin-top: 4rem;
}

footer .footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    padding: 0 auto;
    text-transform: uppercase;
    padding-bottom: 3.2rem;
    border-bottom: 3px solid var(--white);
}

.footer-nav .nav-item h5 {
    color: var(--white);
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 2.4rem;
}

.footer-nav .nav-item ul li {
    margin-top: .8rem;
}

.footer-nav .nav-item ul li a {
    color: #BDBCBC;
    font-size: 1.6rem;
    border-bottom: 1px solid var(--black);
    transition: var(--default-transition);
}

.footer-nav .nav-item ul li a:hover {
    border-bottom: 1px solid var(--white);
    color: var(--white);
}

footer .further-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 77%;
    margin: 0 auto 2rem;
}

.further-info .address {
    text-transform: uppercase;
    color: var(--white);
    max-width: 200px;
}

.further-info .address h5 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: .8rem;
}

.further-info .address p {
    font-size: 1.6rem;
    padding: .8rem 0;
    text-align: justify;
}

.further-info .social ul {
    display: flex;
}

.further-info .social ul li a img {
    max-width: 30px;
    margin-left: .8rem;
    transition: var(--default-transition);
}

.further-info .social ul li a img:hover {
    scale: 1.1;
}

*::selection {
    background-color: var(--white);
    color: var(--black);
}

@media (max-width: 960px) {
    .main-header {
        gap: 2rem;
    }

    nav ul {
        justify-content: center;
    }

    nav ul li {
        margin: 0 .8rem;
    }

    nav ul li a {
        font-size: 1.6rem;
    }
}

@media (max-width: 485px) {
    .main-header {
        justify-content: center;
        align-items: center;
    }

    .main-header .user-items img {
        width: 30px;
    }

    footer .footer-nav {
        flex-direction: column;
        align-content: center;
        width: 100%;
        gap: 2.4rem;
    }
}