/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--white) var(--black);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--black);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--white);
    border-radius: 20px;
    border: 2px solid var(--white);
  }